<aside class="au-c-sidebar">
  <div class="au-c-sidebar__content">
    <!-- Define your site navigation in nav.json -->
    <nav>
      <ul class="au-c-list-navigation">
        {% for item in nav.general %}
        <li class="au-c-list-navigation__item au-c-list-navigation__item--section">
          <a href="{% if build.env == "production" %}{{site.path}}{% endif %}{{ item.url }}" class="au-c-list-navigation__link {% if page.url == item.url %} active{% endif %}">{{ item.title }}</a>
        </li>
        {% endfor %}

        <li class="au-c-list-navigation__item au-c-list-navigation__item--section">
          <h2 class="au-c-list-navigation__section-title">
            Guidelines:
          </h2>
          <ul class="au-c-list-navigation">
            {% for item in nav.documentation %}
            <li class="au-c-list-navigation__item">
              <a href="{% if build.env == "production" %}{{site.path}}{% endif %}{{ item.url }}" class="au-c-list-navigation__link {% if page.url == item.url %} active{% endif %}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>

        <li class="au-c-list-navigation__item au-c-list-navigation__item--section">
          <h2 class="au-c-list-navigation__section-title">
            Foundation:
          </h2>
          <ul class="au-c-list-navigation">
            {% for item in nav.foundation %}
            <li class="au-c-list-navigation__item ">
              <a href="{% if build.env == "production" %}{{site.path}}{% endif %}{{ item.url }}" class="au-c-list-navigation__link {% if page.url == item.url %} active{% endif %}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>

        <li class="au-c-list-navigation__item au-c-list-navigation__item--section">
          <h2 class="au-c-list-navigation__section-title">
            Objects:
          </h2>
          <ul class="au-c-list-navigation">
            {% for item in nav.objects %}
            <li class="au-c-list-navigation__item ">
              <a href="{% if build.env == "production" %}{{site.path}}{% endif %}{{ item.url }}" class="au-c-list-navigation__link {% if page.url == item.url %} active{% endif %}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>

        <li class="au-c-list-navigation__item au-c-list-navigation__item--section">
          <h2 class="au-c-list-navigation__section-title">
            Utilities:
          </h2>
          <ul class="au-c-list-navigation">
            {% for item in nav.utilities %}
            <li class="au-c-list-navigation__item ">
              <a href="{% if build.env == "production" %}{{site.path}}{% endif %}{{ item.url }}" class="au-c-list-navigation__link {% if page.url == item.url %} active{% endif %}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>

        <li class="au-c-list-navigation__item au-c-list-navigation__item--section">
          <h2 class="au-c-list-navigation__section-title">
            Components:
          </h2>
          <a href="https://appuniversum.github.io/ember-appuniversum/" class="au-c-list-navigation__link">Ember-components</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
